%h1 Listing presenters

%table
  %tr
    %th Name
    %th Email
    %th Github username
    %th Twitter username
    %th
    %th
    %th

  - @presenters.each do |presenter|
    %tr
      %td= presenter.name
      %td= presenter.email
      %td= presenter.github_username
      %td= presenter.twitter_username
      %td= link_to 'Show', presenter
      %td= link_to 'Edit', edit_presenter_path(presenter)
      %td= link_to 'Destroy', presenter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Presenter', new_presenter_path
